@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body,html{
  background-color: black;
}

#canvas{
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: black;
  
}
#custom{
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  z-index:1;
  font-family: 'Lilita One', cursive;
  -webkit-text-stroke: .5px black;
}
#custom label{
  color:white;
}
*{
  
        user-select: none;
}