* {
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  width: 100dvw;
  height: 100dvh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#options {
  z-index: 3;
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
}

#cellsizerange {

  width: 90%;
}

#downloadButton {
  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}
#downloadButton button{
  background-color : white;
  z-index:3;
  padding:3px 20px;
}

#opt2 {
  color: white;
  display: flex;
}

#opt2 label {
  display: flex;
  align-items: center;
}

@media all and (max-width:450px) {
  #options {
    width: 60%;
  }

  #fileinput {
    width: 100%;
  }
}