@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Noto+Emoji&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cherry Bomb One', cursive;
}

canvas {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

#inputtext {
  z-index: 3;
  position: absolute;
  width: calc(100% - 20px);
  height: 5%;
  margin: 10px;
  text-align: center;
  font-size: 100%;
}